@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

a {
  display: inline;

  font-weight: 450;
  font-size: 0.75rem;
  text-decoration: none;

  color: #036ea2;

  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 18px;
}

.navbar {
  width: 100%;
  height: 4vh;

  padding: 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(to bottom, #f3f3f3 0%, #ebebeb 100%);

  border-bottom: 1px solid #cad6de;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 27px;
  height: 27px;

  display: inline-block;

  background-position: -5px -38px;
  background-repeat: no-repeat;

  background-image: url(https://image.ebooks.com/ebooks_netcore/images/spritesheet.png);

  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(180deg);
  }
}

main {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  width: 70vw;
}

.search-bar-container {
  grid-row: 1;
  grid-column: 1 / -1;
  height: 8vh;
  width: 100%;
}

.sidebar {
  grid-column: 1;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;

  padding: 15px;

  min-height: 72vh;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .newsletter-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 9px;
    padding: 10px;

    background-image: linear-gradient(#f2f7fb, #f7fafc 20%, #f7fafc 90%, #e7edf1);

    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .newsletter-header {
      display: flex;
      column-gap: 10px;

      margin-bottom: 8px;

      color: #036ea2;
    }

    .newsletter-subheading {
      text-align: center;
      margin-bottom: 8px;

      h5 {
        font-size: 0.8rem;
        font-weight: 450;
        color: #357aa9;
      }
    }

    form div {
      display: flex;
      flex-flow: column;
      align-items: center;

      * {
        width: 100%;
        margin-bottom: 5px;
      }

      input {
        border: 1px solid #cad6de;
        box-shadow: 1px 1px 1px 0 white;

        padding: 6px 12px;

        font-size: 0.65rem;
      }

      button {
        border: none;
        border-radius: 8px;

        padding: 5px;

        color: white;
        background-color: #02537a;
      }
    }
  }

  .categories-section {
    h3 {
      color: #036ea2;
      margin-bottom: 10px;
    }

    .category-group {
      display: flex;
      flex-direction: column;

      margin-bottom: 15px;

      h4 {
        margin: 5px 0;
        font-size: 1rem;
        color: #357aa9;
        cursor: pointer;

        &:hover {
          color: #02537a;
        }
      }
    }
  }
}
