@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

.nav-link {
  display: inline;
  font-weight: 450;
  font-size: 0.78rem;
  text-decoration: none;
  color: #036ea2;

  transition: color 0.3s ease, transform 0.2s ease;

  &:hover {
    color: #0288d1;
    opacity: 0.9;
    transform: translateY(-2px);
  }
}

.user-name {
  background: linear-gradient(to right, #449844, #781292);
  -webkit-background-clip: text;
  color: transparent;

  &:hover {
    opacity: 1;
  }
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 18px;
}

.nav-bar {
  width: 100%;
  height: 4vh;

  padding: 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(to bottom, #f3f3f3 0%, #ebebeb 100%);

  border-bottom: 1px solid #cad6de;
}

.nav-links-left, .nav-links-right {
  display: flex;
  align-items: center;
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 27px;
  height: 27px;

  display: inline-block;

  background-position: -5px -38px;
  background-repeat: no-repeat;

  background-image: url(https://image.ebooks.com/ebooks_netcore/images/spritesheet.png);

  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(180deg);
  }
}

main {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
}

.main-content {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  width: 70vw;
}

.search-bar-container {
  grid-row: 1;
  grid-column: 1 / -1;
  height: 8vh;
  width: 100%;
}

.sidebar-widgets {
  grid-column: 1;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;

  padding: 15px;

  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-widget {
  h3 {
    color: #036ea2;
    margin-bottom: 10px;
    border-bottom: 1px gray solid;
  }

  .category-buttons {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;

    input[type="submit"] {
      all: unset;
      color: #717171;
      background: none;
      border: none;
      margin: 4px 0;
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      color: #02537a;
    }
  }
}

.main-content {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  padding: 0 50px;
  row-gap: 10px;

  display: flex;
  flex-flow: column;

  h1 {
    padding: 4px;
    color: #71818f;

    font-size: 1.5em;
    font-weight: 450;
    margin-top: 8px;

    border-bottom: 2px solid #cad6de;
  }

  .book-item {
    display: flex;
    flex-flow: column;
    position: relative;
    row-gap: 5px;

    max-width: 110px;
    height: fit-content;
    padding: 10px;

    border-radius: 4px;

    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }

  .btn-add-to-cart {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;

    background-color: #0288d1;
    border-radius: 20px;

    width: 20px;
    height: 20px;

    border: none;
    color: whitesmoke;
    font-size: 1.1rem;
    cursor: pointer;

    z-index: 10;

    transition: all 0.3s ease;

    &:hover {
      width: 100px;
      height: 25px;
      font-size: 1rem;
      color: #46ab09;

      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      &::before {
        content: "Add to Cart";
        font-size: 0.7rem;
        color: whitesmoke;
      }
    }

    .fas.fa-plus {
      font-size: 1.1rem;
    }
  }

  h2 {
    color: #02537a;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 5px;
  }

  p {
    color: #46ab09;
    font-size: 0.75rem;
  }

  img {
    width: 100px;
    height: 140px;

    align-self: center;

    margin-bottom: 8px;

    border-radius: 4px;
    box-shadow: 0 3px 10px -2px black;
  }
}

.book-cards {
  width: 100%;
  display: flex;
  padding: 0 2px;
  flex-wrap: wrap;
  gap: 40px;
}

.book-item {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 20px;
  }

  .nav-bar {
    padding: 0 42.5px;
  }

  .sidebar-widgets {
    grid-column: 1 / -1;
    margin-bottom: 20px;
  }

  .book-cards {
    padding: 0;
    justify-content: center;
    row-gap: 10px;
    column-gap: 30px;
    margin-top: 10px;
  }

  .book-item {
    flex: 1 1 100%;
  }

  .btn-add-to-cart {
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }

  .book-thumbnail {
    width: 80%;
    max-width: 150px;
  }

  h2, p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .main-content {
    width: 100%;
    padding: 0;
  }

  .book-cards {
    padding: 0;
    justify-content: center;
    row-gap: 10px;
    column-gap: 30px;
    margin-top: 10px;
  }

  .nav-bar {
    padding: 0 42.5px;
  }

  .book-item {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .sidebar-widgets {
    margin-bottom: 20px;
    padding: 10px;
  }
}
