@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$primary-color: #f2f7fb;
$secondary-color: #02537a;
$input-border-color: #cad6de;
$button-background: #02537a;
$button-hover: #017288;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color;
}

.content-wrapper {
  position: relative;
  max-width: 450px;
  width: 100%;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      height: 4px;
      width: 40px;
      border-radius: 12px;
      background: $secondary-color;
    }
  }

  form {
    margin-top: 30px;

    .input-group {
      height: 50px;
      margin: 15px 0;

      input {
        height: 100%;
        width: 100%;
        outline: none;
        padding: 0 18px;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        border: 1.5px solid $input-border-color;
        border-radius: 8px;
        transition: all 0.3s ease;

        &:focus,
        &:valid {
          border-color: $primary-color;
        }
      }
    }

    .input-group.button {
      input {
        height: 50px;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        border: none;
        background: $button-background;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0.3s ease;

        &:hover {
          background-color: $button-hover;
        }
      }
    }

    .text {
      margin-top: 20px;

      h3 {
        color: #333;
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;

        a {
          color: $secondary-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
