@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$primary-color: #f2f7fb;
$secondary-color: #02537a;
$input-border-color: #cad6de;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color;
}

.content-wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 28px;
      border-radius: 12px;
      background: $secondary-color;
    }
  }

  form {
    margin-top: 30px;

    .input-group {
      height: 52px;
      margin: 18px 0;

      input {
        height: 100%;
        width: 100%;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-weight: 400;
        color: #333;
        border: 1.5px solid $input-border-color;
        border-bottom-width: 2.5px;
        border-radius: 6px;
        transition: all 0.3s ease;

        &:focus,
        &:valid {
          border-color: $primary-color;
        }
      }
    }

    .input-group.button {
      input {
        color: #fff;
        letter-spacing: 1px;
        border: none;
        background: #02537a;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .text {
      h3 {
        color: #333;
        width: 100%;
        text-align: center;

        a {
          color: $secondary-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  form .policy {
    display: flex;
    align-items: center;
  }

  form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
}
