@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$primary-color: #036ea2;
$secondary-color: #357aa9;
$tertiary-color: #02537a;
$input-border-color: #cad6de;
$focus-border-color: #5b9bd5;
$background-color: #d5d7da;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
}

.signup-container {
  background-color: #ffffff;

  padding: 20px 30px;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  min-width: 350px;

  background-image: linear-gradient(#f2f7fb, #f7fafc 20%, #f7fafc 90%, #e7edf1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: $primary-color;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: $secondary-color;
}

input {
  padding: 10px;
  font-size: 14px;

  margin-bottom: 15px;

  border: 1px solid $input-border-color;
  border-radius: 4px;

  outline: none;
  box-shadow: 1px 1px 1px 0 white;

  &:focus {
    border-color: $focus-border-color;
  }
}

button {
  padding: 10px;
  font-size: 14px;

  background-color: $tertiary-color;
  color: white;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }

  &:active {
    background-color: $tertiary-color;
  }
}
