<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="cart-container">
    <h1>Shopping Cart</h1>
    <div class="cart-items">
        <div th:each="entry : ${session.bookQuantityMap}" class="cart-item">
            <div class="cart-item-details">
                <img th:src="@{${entry.key.getThumbnail()}}" alt="book-thumbnail" class="cart-item-image">
                <div class="cart-item-info">
                    <h2 th:text="${entry.key.getTitle()}"></h2>
                    <p>ISBN: <span th:text="${entry.key.getIsbn()}"></span></p>
                    <p>Price: <span th:text="'$' + ${entry.key.getPrice()}"></span></p>

                    <div class="quantity-controls">
                        <button class="quantity-decrease"
                                th:onclick="updateQuantity([[${entry.key.getIsbn()}]], 'decrease')">
                            <i class="fas fa-minus"></i>
                        </button>
                        <span class="quantity" th:text="${entry.value}"></span>
                        <button class="quantity-increase"
                                th:onclick="updateQuantity([[${entry.key.getIsbn()}]], 'increase')">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                    <button class="delete-button" th:attr="data-isbn=${entry.key.getIsbn()}"
                            th:onclick="removeItem([[${entry.key.getIsbn()}]])">
                        <i class="fas fa-trash"></i> Remove
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-total">
        <h3>Total: <span th:text="'$' + ${session.totalPrice}"></span></h3>
    </div>

    <button class="purchase-button"
            th:onclick="processPayment([[${session.user}]], [[${session.booksIsbnQuantity}]])">Purchase
    </button>
</div>
<script>
    async function updateQuantity(isbn, action) {
        await fetch("/cart", {
            method: "PUT",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({isbn, action})
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/cart";
                } else {
                    console.error("Failed to update quantity");
                }
            })
            .catch(error => console.error("Error:", error));
    }

    async function removeItem(isbn) {
        try {
            const response = await fetch("/cart", {
                method: "DELETE",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({isbn})
            });

            if (response.ok) {
                window.location.href = "/cart";
            } else {
                console.error("Failed to remove item");
            }
        } catch (error) {
            console.error("Error:", error);
        }
    }

    async function processPayment(user, isbnQuantityMap) {
        const items = Object.entries(JSON.parse(isbnQuantityMap)).map(entry => ({
            isbn: entry[0],
            quantity: entry[1]
        }));

        if (user === null) {
            alert("You must be signed in to complete the purchase.");
            return;
        }

        await fetch("/payment", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({items: items, user: user})
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/confirmation";
                } else {
                    console.error("Purchase failed");
                }
            })
            .catch(error => console.error("Error:", error));
    }
</script>
</body>
</html>
