<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Home</title>
</head>
<body>
<nav class="navbar">
    <ul class="navbar-left">
        <li><a th:href="@{/}" class="link">Home</a></li>
    </ul>

    <ul class="navbar-right">
        <li th:if="${session.user == null}"><a th:href="@{/signup}" class="link">Sign Up</a></li>
        <li th:if="${session.user == null}"><a th:href="@{/login}" class="link">Login</a></li>

        <li th:unless="${session.user == null}"><a th:text="${session.user}" class="link user"/></li>
        <li th:unless="${session.user == null}"><a th:href="@{/logout}" class="link">Logout</a></li>

        <li class="icon-container"><a th:href="@{/cart}" class="icon"></a></li>
    </ul>
</nav>

<main>
    <div class="content-wrapper">
        <div class="content">
            <h1 th:text="${requestedBooksSubject}"/>
            <div class="book-card-wrapper">
                <div class="book-card" th:each="b : ${requestedBooks}" th:object="${b}">
                    <button class="add-to-cart-btn"
                            aria-label="Add to Cart"
                            th:onclick="addToCart([[*{getIsbn()}]])">
                        <i class="fas fa-plus"></i>
                    </button>
                    <img th:src="*{getThumbnail()}" alt="book-thumbnail">
                    <h2 th:text="*{getTitle()}"/>
                    <p th:text="'US$' + *{getPrice()}"/>
                </div>
            </div>

            <h1 th:text="${advertisementBooksSubject}"/>
            <div class="book-card-wrapper">
                <div class="book-card" th:each="b : ${advertisementBooks}" th:object="${b}">
                    <button class="add-to-cart-btn"
                            aria-label="Add to Cart"
                            th:onclick="addToCart([[*{getIsbn()}]])">
                        <i class="fas fa-plus"></i>
                    </button>
                    <img th:src="*{getThumbnail()}" alt="book-thumbnail">
                    <h2 th:text="*{getTitle()}"/>
                    <p th:text="'US$' + *{getPrice()}"/>
                </div>
            </div>
        </div>

        <div class="search-bar">

        </div>

        <div class="sidebar">
            <div class="newsletter-section">
                <div class="newsletter-header">
                    <div>
                        <img src="https://image.ebooks.com/ebooks_netcore/images/icons/sign-up.png"
                             alt="Sign up for our newsletter">
                    </div>
                    <div><h5>Sign up for our&nbsp;newsletter</h5></div>
                </div>
                <div class="newsletter-subheading">
                    <h5>Specials, new title alerts and more!</h5>
                </div>
                <form action="" method="post">
                    <div>
                        <input type="email" placeholder="Your email address" name="email">
                        <button type="submit" disabled>Sign Up</button>
                    </div>
                </form>
            </div>

            <div class="categories-section">
                <h3>Popular Categories</h3>
                <form class="category-group" method="get">
                    <input type="submit" name="subject" value="Programming">
                    <input type="submit" name="subject" value="Business">
                    <input type="submit" name="subject" value="History">
                    <input type="submit" name="subject" value="Religion">
                    <input type="submit" name="subject" value="Science">
                </form>

                <h3>Fiction</h3>
                <form class="category-group" method="get">
                    <input type="submit" name="subject" value="Crime">
                    <input type="submit" name="subject" value="Fantasy">
                    <input type="submit" name="subject" value="Literary">
                    <input type="submit" name="subject" value="Romance">
                    <input type="submit" name="subject" value="Science Fiction">
                    <input type="submit" name="subject" value="Thrillers">
                </form>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    function addToCart(isbn) {
        fetch("/cart", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({isbn: isbn})
        });
    }
</script>
</body>
</html>
