<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="Browse and purchase a wide selection of books. Sign up for newsletters and stay updated with the latest book titles.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <title>Home</title>
</head>
<body>
<nav class="nav-bar">
    <ul class="nav-links-left">
        <li><a th:href="@{/}" class="nav-link">Home</a></li>
    </ul>

    <ul class="nav-links-right">
        <li th:if="${session.user == null}">
            <a th:href="@{/signup}" class="nav-link">Sign Up</a>
        </li>
        <li th:if="${session.user == null}">
            <a th:href="@{/login}" class="nav-link">Login</a>
        </li>
        <li th:unless="${session.user == null}">
            <a th:text="${session.user}" class="nav-link user-name"></a>
        </li>
        <li th:unless="${session.user == null}">
            <a th:href="@{/logout}" class="nav-link">Logout</a>
        </li>
        <li class="cart-icon">
            <a th:href="@{/cart}" class="icon"></a>
        </li>
    </ul>
</nav>

<main>
    <div class="main-content">
        <section class="book-list">
            <h1 th:text="${requestedBooksSubject}" aria-live="polite"></h1>
            <div class="book-cards">
                <div class="book-item" th:each="b : ${requestedBooks}" th:object="${b}">
                    <button class="btn-add-to-cart" th:onclick="addToCart([[*{getIsbn()}]])" aria-label="Add to Cart">
                        <i class="fas fa-plus"></i>
                    </button>
                    <img th:src="*{getThumbnail()}" alt="Book thumbnail" class="book-thumbnail"/>
                    <h2 th:text="*{getTitle()}"></h2>
                    <p th:text="'US$' + *{getPrice()}"></p>
                </div>
            </div>

            <h1 th:text="${advertisementBooksSubject}" aria-live="polite"></h1>
            <div class="book-cards">
                <div class="book-item" th:each="b : ${advertisementBooks}" th:object="${b}">
                    <button class="btn-add-to-cart" th:onclick="addToCart([[*{getIsbn()}]])" aria-label="Add to Cart">
                        <i class="fas fa-plus"></i>
                    </button>
                    <img th:src="*{getThumbnail()}" alt="Book thumbnail" class="book-thumbnail"/>
                    <h2 th:text="*{getTitle()}"></h2>
                    <p th:text="'US$' + *{getPrice()}"></p>
                </div>
            </div>
        </section>

        <aside class="sidebar-widgets">
            <div class="category-widget">
                <h3 class="category-heading">Popular Categories</h3>
                <form class="category-buttons" method="get">
                    <input type="submit" name="subject" id="category-programming" value="Programming"
                           class="category-btn">
                    <input type="submit" name="subject" id="category-business" value="Business" class="category-btn">
                    <input type="submit" name="subject" id="category-history" value="History" class="category-btn">
                    <input type="submit" name="subject" id="category-religion" value="Religion" class="category-btn">
                    <input type="submit" name="subject" id="category-science" value="Science" class="category-btn">
                </form>

                <h3 class="category-heading">Fiction</h3>
                <form class="category-buttons" method="get">
                    <input type="submit" name="subject" id="category-crime" value="Crime" class="category-btn">
                    <input type="submit" name="subject" id="category-fantasy" value="Fantasy" class="category-btn">
                    <input type="submit" name="subject" id="category-literary" value="Literary" class="category-btn">
                    <input type="submit" name="subject" id="category-romance" value="Romance" class="category-btn">
                    <input type="submit" name="subject" id="category-scifi" value="Science Fiction"
                           class="category-btn">
                    <input type="submit" name="subject" id="category-thrillers" value="Thrillers" class="category-btn">
                </form>
            </div>
        </aside>
    </div>
</main>

<script th:inline="javascript">
    function addToCart(isbn) {
        fetch("/cart", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({isbn: isbn})
        });
    }
</script>

</body>
</html>
